body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

#weather-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
}

.search-container {
    margin: 20px 0;
}

#location-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
}

#search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
